<ion-tabs *ngIf="verified">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab2">
      <ion-icon name="logo-chrome"></ion-icon>
      <ion-label>Portal Seguros</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)='doOpenWhatsapp("+34633182123")'>
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-label>Whatsapp</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Cámara</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
